:root {
  /* Important Colors */
  --primary-purple: #772ce8;
  --white: #ffffff;
  --dark-grey: #30343f;

  /* Hover / Active color - Button */
  --purple-button-effect: #8947EB;


  /* Light Mode */
  --main-light-color: #f7f7f8;
  --tag-color: #eaeaeb;

  /* Dark Mode */
  --main-dark-color: #28282f;
  --content-dark-color: #393939;
  --dark-tag-color: #212123;
  /* --dark-tag-text-color: #; */
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  text-decoration: none;
  list-style-type: none;
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  font: 100%/1.4 "Open Sans", sans-serif;
  background-color: var(--main-light-color);
}

/* Header */
header {
  height: 3em;
  color: var;
  width: 100%;
  background-color: var(--main-dark-color);
  position: sticky;
}

header h1 {
  /* padding: 1em; */
  margin-left: 0.5em;
  color: var(--main-light-color);
  transition: ease .1s;
}

header h1:hover {
  color: var(--primary-purple);
}

nav h2 {
  margin-top: 1em;
  font-size: 2em;
  color: var(--content-dark-color);
}


/* Squad-nav */
nav {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  margin-top: 2em;
  margin-bottom: 1em;
  width: 90%;
  margin: 0 auto;
}

nav ul {
  width: 100%;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  border-radius: 0.3em;
  color: var(--white);
  margin: 1em;
  height: 3.5em;
  width: 8.5em;
  background-color: var(--primary-purple);
  align-items: center;
  justify-content: center;
  transition: ease 0.2s;
}
.active {
  background-color: var(--purple-button-effect);
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--primary-purple);
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  transition: ease-in-out .2s;
  transform: translateY(-0.25em);
  background-color: var(--purple-button-effect);
  box-shadow: 0 0.5em 0.5em -0.4em var(--primary-purple);
}




.divider {
  height: 0.4em;
  margin: 0 3em 0 3em;
  /* width: 90%; */
  border-radius: 0.3em;
  background-color: var(--dark-grey);
}

.filter-section {
  margin: 0 4em 0 4em;
  display: flex;
  justify-content: space-between;
}

.cards-container {
  width: 95%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  padding-bottom: 1em;
  gap: 0.5em;
}

.info-area {
  padding-top: 0.2em;
  padding-left: 0.2em;
  width: 100%;
}

.tags {
  margin-top: 0.5em;
	display: flex;
}

.tag {
  background-color: var(--tag-color);
  padding: 0.2em 0.4em;
  border-radius: 0.8em;
  color: #464646;
  font-weight: bold;
  margin-right: 0.4em;
	position: relative;
	display: flex;
	align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 15em;
  margin: 1em auto 0 auto;
  border-radius: 0.3em;
  padding: 0.7em;
  gap: 1em;

  color: var(--content-dark-color);
  transition: ease-in-out 0.2s;
}
.card[hidden] {
  display: none;
}

.card:hover {
  transition: ease 0.2s;
  box-shadow: 0px 18px 22px -5px rgba(0, 0, 0, 0.6);
  transform: translateY(-.3em);
}

.image-container {
  position: relative;
}

.card-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 19em;
  max-height: 19em;
  aspect-ratio: 1/1;
}

.colour-circle {
    background-color: var(--card-circle-colour);
    height: 1em;
    width: 1em;
    border-radius: 50%;

    /* align-items: center; */
    
}
